SECRET_KEY=lkasjdf09ajsdkfljalsiorj12n3490re9485309irefvn,u90818734902139489230
DATABASE_URL=sqlite:///dev.db
SCHEMA=smack_schema
FLASK_APP=app
FLASK_ENV=development
FLASK_DEBUG=True
FLASK_RUN_HOST=0.0.0.0
WDS_SOCKET_PORT=0
REDIS_HOST=redis
REACT_APP_BASE_URL=
S3_BUCKET=
S3_KEY=
S3_SECRET=
MAIL_USERNAME=
MAIL_PASSWORD=
SMACK_ADMIN=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
