.email-redirection-link {
	display: flex;
	width: 100%;
	margin: 20px;
	text-decoration: none;
	color: #616061;
	font-size: 14px;
	justify-content: center;
	align-items: center;
	height: 41px;
}

.email-redirection-link:hover {
	text-decoration: underline;
}

.email-redirection-container {
	display: flex;
	width: 100%;
	padding-top: 60px;
	justify-content: center;
	align-items: center;
}

.email-redirection-logo {
	margin-right: 10px;
}

.email-redirection-note {
	text-align: center;
	font-size: 14px;
	color: #454245;
	margin-top: -10px;
}
