#typing-indicator-container {
	height: 19px;
	padding-left: 10px;
	color: rgb(101, 101, 101);
	font-family: "Lato", sans-serif;
}

#typing-indicator-container > p {
	font-size: 13px;
	margin-top: 1px;
}

.typing-users {
	font-weight: bold;
}

@keyframes ellipsisAnim {
	0%,
	24% {
		content: "";
	}
	25%,
	49% {
		content: ".";
	}
	50%,
	74% {
		content: "..";
	}
	75%,
	100% {
		content: "...";
	}
}

.typing-indicator::after {
	content: "";
	animation: ellipsisAnim 4s infinite;
	display: inline-block;
}
