.landing-background {
    background: linear-gradient(#E0B6E1, white 20%);
}
/* Section 1 */
.landing-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: var(--content-width);
    margin: 250px auto;
    padding: 0;
}



.landing-one-text {
    max-height: 600px;
    max-width: calc(var(--content-width) / 2);
    text-align: start;

}
.landing-one-text div {
    margin-bottom: 20px;
}
.landing-one-text div:first-child {
    font-size: 4.3rem;
    color: var(--smack-purple);
    font-weight:600;
}

.landing-one-text div:nth-child(2) {
    font-size: 1.6rem;
    color: var(--smack-purple);
    opacity: 80%;
}


.landing-one-figures {
    position: relative;
    max-height: 700px;
    max-width: calc(var(--content-width) / 2);
    margin-left: 40px;
}


#landing-one-figure-1 {
    position: absolute;
    top: -250px;
    width: 335px;
    height: 477px;
    
}
#landing-one-figure-1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid var(--smack-purple);
    box-shadow: -10px 5px 4px rgba(0, 0, 0, .5);
}
#landing-one-figure-2 {
    position: absolute;
    top: -209px;
    left: 200px;
    width: 335px;
    height: 477px;
}

#landing-one-figure-2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-position: 0% 0%;
    border: 1px solid var(--smack-purple);
    box-shadow: -10px 5px 4px rgba(0, 0, 0, .5);
}

/* Media */
@media screen and (max-width: 1200px) {
    .landing-nav-content {
        margin: 0 auto;
        max-width: 90vw;
        padding-top: 17px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .landing-1 {
        display: flex;
        flex-direction: column;
        max-width: var(--content-width);
        margin: calc(.1 * var(--desktop-height)) auto;
        padding: 0;
    }

    .landing-one-text {
        text-align: center;
        width: 80vw;
    }

    .landing-one-text div:first-child {
        font-size: 4.3rem;
        color: var(--smack-purple);
        font-weight: 600;
    }

    .landing-one-text div:nth-child(2) {
        font-size: 1.6rem;
        color: var(--smack-purple);
        opacity: 80%;
    }

    .landing-one-figures {
        display: flex;
        flex-direction: column;
        margin-top: 50vh;
        width: 80vw;
    }


}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-up {
    transform: translateY(100%);
    opacity: 0;
    animation: slideUp 2s ease-in-out forwards;
}